.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 20px auto; 
    background-color: #c0c0c0;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    color: #333;
}

.property-card-container {
    display: flex;
    flex-direction: row; 
}

.image-container {
    margin-right: 20px;
}

.card-container {
    flex: 1;
}

.property-card-container p {
    font-size: 16px;
    color: rgb(119, 5, 58);
}


@media screen and (max-width: 600px) {
    .main-container {
        width: 100%;
    }

    .property-card-container {
        flex-direction: column; 
    }

    .image-container {
        margin-right: 0;
    }

    .card-container {
        width: 100%;
    }

    .image-container img {
        max-width: 100%;
        height: auto;
    }
}


@media screen and (min-width: 800px) {
    .property-card-container {
        flex-direction: row-reverse; 
    }

    .image-container {
        margin-right: 0;
        margin-left: 20px; 
        order: 2; 
    }

    .card-container {
        flex: 1;
        order: 1; 
    }
}
