body {
  background-color: #451952;
}

form {
  padding: 50px;
}
.container {
  display: flex;
  justify-content: center;
  background-color: #451952;
}
input {
  display: flex;
  border-radius: 5px;

  padding-top: 5px;
  border: 2px solid #ae445a;
}

textarea {
  display: flex;
  margin-left: 8px;
  border-radius: 5px;
  border: 2px solid #ae445a;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  color: #f39f5a;
  margin-top: 5px;
}

button:hover {
  color: #f39f5a;
  background-color: #662549;
  border: #f39f5a;
}
